<config>
	<section name="gcode">
		<property name="tool on" type="std::string">"M1 {S}"</property>
		<property name="tool off" type="std::string">"M2"</property>
		<property name="linear move" type="std::string">"G1 X {X} Y {Y} F {F}"</property>
		<property name="fast move" type="std::string">"G0 X {X} Y {Y}"</property>
		<property name="cw arc" type="std::string">"G2 X {X} Y {Y} I {I} J {J} F {F}"</property>
		<property name="ccw arc" type="std::string">"G3 X {X} Y {Y} I {I} J {J} F {F}"</property>
	</section>
	<section name="dxf">
		<property name="spline to arc precision" type="float">0.001</property>
		<property name="assemble tolerance" type="float">0.001</property>
	</section>
</config>
