<group name="import">
	<group name="dxf">
		<property name="spline-to-arc-precision" type="float">
		<property name="assemble-tolerance" type="float">
		<property name="minimum-polyline-length" type="float">
		<property name="minimum-spline-length" type="float">
		<property name="minimum-arc-length" type="float">
	</group>
	<group name="default-path">
		<property name="feed-rate" type="float">
		<property name="intensity" type="float">
		<property name="passes" type="int">
	</group>
</group>
<list name="tools">
	<group name="tool">
		<group name="general">
			<property name="radius" type="float">
		</group>
		<group name="gcode">
			<property name="tool-on" type="string">
			<property name="tool-off" type="string">
			<property name="linear-move" type="string">
			<property name="fast-move" type="string">
			<property name="cw-arc" type="string">
			<property name="ccw-arc" type="string">
		</group>
	</group>
</list>

