[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/nanoflann"]
	path = thirdparty/nanoflann
	url = https://github.com/jlblancoc/nanoflann.git
[submodule "thirdparty/cavaliercontours"]
	path = thirdparty/cavaliercontours
	url = https://github.com/jbuckmccready/CavalierContours.git
[submodule "thirdparty/IconFontCppHeaders"]
	path = thirdparty/IconFontCppHeaders
	url = git@github.com:juliettef/IconFontCppHeaders.git
