[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/nanoflann"]
	path = thirdparty/nanoflann
	url = https://github.com/jlblancoc/nanoflann.git
[submodule "thirdparty/CavalierContours"]
	path = thirdparty/CavalierContours
	url = https://github.com/jbuckmccready/CavalierContours.git
