on:
  workflow_dispatch:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  deploy:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}/ubuntu:master
      options: --cap-add SYS_ADMIN --device /dev/fuse --security-opt apparmor:unconfined
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0
      - name: Build and test
        run: ci/buildappimage.sh
        env:
          LD_LIBRARY_PATH: /opt/lib
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: "dxfplotter*.AppImage"
