on:
  workflow_dispatch:
  push:
    branches:
      - "**"

jobs:
  static_analysis:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}/ubuntu:develop
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Build and scan
        run: ci/buildsonarcloud.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}  


