on:
  push:
    branches:
      - "**"

jobs:
  static_analysis:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install package
        run: |
          sudo apt-get update
          sudo apt-get -y install qt6-base-dev freeglut3-dev lcov
      - name: Install build wrapper
        run: |
          wget http://sonarcloud.io/static/cpp/build-wrapper-linux-x86.zip
          unzip build-wrapper-linux-x86.zip
      - name: Install sonar scanner
        run: |
          wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.6.2.2472-linux.zip
          unzip sonar-scanner-cli-4.6.2.2472-linux.zip
      - name: Build and scan
        run: ci/buildsonarcloud.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}  


